/* ========================================
   MODALES DE USUARIO (INICIO SESIÓN, REGISTRO, RECUPERAR CONTRASEÑA)
======================================= */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #222;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.modal-content input {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.modal-content .btn-modal {
    background-color: #f16529;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content .btn-modal:hover {
    background-color: #e9541f;
}

.modal-content a {
    color: #25d366;
    text-decoration: none;
}

.close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
}