/* ========================================
   PROMOS
======================================= */
.promo-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
}

.promo {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    max-width: 280px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.promo img {
    width: 100%;
    border-radius: 10px;
}

.promos h1 {
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 20px;
    text-align: center;
}

.btn-promo {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #228b22;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.btn-promo:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* ========================================
   RESPONSIVIDAD PROMOS
======================================= */

/* MEDIA QUERIES PARA TABLETS */
@media (min-width: 768px) {
    .promo-contenedor {
        gap: 2rem;
        padding: 2rem;
    }

    .promos h1 {
        font-size: 40px;
        margin-top: 80px;
    }

    .btn-promo {
        margin-top: 15px;
        padding: 10px 20px;
    }
}

/* MEDIA QUERIES PARA DESKTOPS */
@media (min-width: 1024px) {
    .promos h1 {
        font-size: 55px;
        margin-top: 105px;
    }
}